yay
obsidian
yay
yay-git
BraveSoftware
kwalletrc
go
dconf
pulse
gh
kde.org
mimeapps.list
dolphinrc
session
filetypesrc
nvim/
spotify/
Docker Desktop/
Electron/
cagent/
user-dirs.dirs
user-dirs.locale
nohup.out
