* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

@define-color widget-color  #5e503f;
@define-color fg-color  #c6ac8f;
@define-color bg-color  #22333b;
@define-color text-color  #0a0908;
@define-color border-color #B026FF;
@define-color active-widget  #432818;

window#waybar {
    background-color: @bg-color; 
    border-bottom: 3px solid @fg-color;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: @bg-color;
}

window#waybar.chromium {
    background-color: @text-color;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 3;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @active-widget;
}

#workspaces button {
    margin: 5px 5px 5px 5px;
    background-color: transparent;
    color: @fg-color;
}

#workspaces button:hover {
    background: @active-widget;
}

#workspaces button.focused {
  border-top: 4px solid @active-widget;
}

#workspaces button.active {
	background-color: @widget-color;
	color: @text-color;
}

#workspaces button.urgent {
    background-color: @urgent-widget;
}

#mode {
    background-color: @bg-widget;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @fg-color;
    border: none;
    font-size: 25px;
}

#battery {
    background-color: @widget-color;
    color: @text-color;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: @bg-color;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: @text-color;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: @active-widget;
    color: @widget-color;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: @text-color;
}

label:focus {
    background-color: @text-color;
}

#cpu {
    background-color: @widget-color;
    color: @text-color;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#memory {
    background-color: @widget-color;
    color: @text-color;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#disk {
    background-color: @widget-color;
    color: @text-color;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#backlight {
    background-color: @widget-color;
    color: @text-color;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#network {
    background-color: @widget-color;
    color: @text-color;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: @widget-color;
    color: @text-color;
    border-radius: 30px;
    margin-bottom: 3.5px;
    min-width: 100px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: @widget-color;
    color: @text-color;
    min-width: 100px;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#custom-media.custom-spotify {
    background-color: @widget-color;
}

#custom-media.custom-vlc {
    background-color: @widget-color;
}

#temperature {
    background-color: @widget-color;
    color: @text-color;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#mpd {
    background-color: @widget-color;
    color: #2a5c45;
    border-radius: 30px;
    margin-bottom: 3.5px;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: @text-color;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
